* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    padding-right: 2px;
    padding-left: 2px;
    text-decoration: none;
    @include focus-visible;
}

button {
    border: none;
    box-shadow: none;
    background-color: transparent;
    @include focus-visible;
}